.about-container {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: scroll;
  background-image: url('../images/background.png');
  background-size: cover;
  background-repeat: no-repeat;
} 

.home-bar{
  margin-top: 1px;
}

.main {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 25px;
  color: white;
}

.main-point-title h3 {
  padding: 25px 0px 25px 0px;
}


