.eventinfo-component {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: scroll;
    background-image: url('../images/background.png');
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Barlow Semi Condensed', sans-serif;
    overflow: hidden;
}

.submain-con {
    width: 90vw;
    height: 90vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.info-submain-container{
    width: 60%;
    height: 95%;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.title-image{
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
}
#info-image-title{
    width: 100;
    height: 100%;
}

/*--------------------BEGINNING INFORMATION DIVS------------------*/
.information-container{
    height: 45%;
    width: 90%;
    background-color: blue;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.title-info-component{

}

.date-time-rating-info-component{
    display: flex;
    justify-content: space-between;
}

.date-time-info-component{

}

.rating-info-component{

}

.venue-info-component{

}

.price-info-component{

}

.link-info-component{

}

/*---------------------ENDING INFORMATION DIVS--------------------*/

.google-map-container{
    height: 95%;
    width: 35%;
}
