@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed&display=swap');
.events-list-container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.events-list-searchbar {
  height: 75vh;
  width: 100%;
  top: 40px;
  box-shadow: 0 30px 40px rgba(0,0,0,.1);
  object-fit:scale-down;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-image: url('../images/background.png');
  background-size: cover;
  background-repeat: no-repeat;
}

.homebar-eventlist{
  width: 100%;
  height: 10%;
}


.top-container {
  height: 85%;
  width: 60%;
  display: flex;flex-direction: column;
  justify-content:space-evenly;
  align-items: center;
  margin-top: -100px;
}

.logo-eventlist-container{
  width: 80%;
  height: 40%;
}

#logo-eventlist{
  width: 100%;
  height: 100%;
  margin-bottom: -100px;
}

.inputbar-eventlist{
  display: flex;
  justify-content: center;
}
#events-title {
  font-family: 'Barlow Semi Condensed', sans-serif;
  font-size: 45px;
  font-weight: bold;
  margin-right: 1050px;
  margin-top: 15px;
  margin-bottom: 15px;
  color: black;
}

.events-list-card {
  width: 80%;
  height: 100vh;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
