.events {
  width: 370px;
  height: 320px;
  margin: 20px;
  display: flex;
  flex-direction: column;
  
}
.events:hover .image_event{
  transform: scale(1.1);
  
}

.img-container {
  width: 100%;
  height: 192px;
  background-color: burlywood;
  overflow: hidden;
  
  border-radius: 15px;
}

.image_event {
  width: 100%;
  height: 100%;
  border-radius: 15px;
  transition: all 0.3s ease-in-out !important;
}
/* #image_event:hover {
  transform: scale(1.5);
} */

#title {
  font-family: "Karla", sans-serif;
  font-weight: bolder;
  font-size: 25px;
  margin-top: 6px;
  margin-left: 5px;
  padding: 0px 0px 2px 5px;
}

.content_event {
  width: 100%;
  height: 128px;
  display: flex;
  flex-direction: column;
  font-family: "Karla", sans-serif;
  font-size: 18px;
  background-color: white
}

.information {
  width: 100%;
  height: 20px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
  margin-top: 5px;
  padding: 2px 0px 2px 5px;
  
}

#date {
  margin-left: 5px;
}
.score{
  width: 10%;
  display: flex;
  font-size: medium;
  gap: 5px;
  margin-right: 25px;
}
#star {
  height: 18px;
  width: 18px;
}
/* .score {
  display: flex;
  margin-left: 4px;
  font-size: medium;
  gap: 5px;
} */

#price {
  color: black;
  font-weight: bold;
  margin-left: 10px;
}
