@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed&display=swap');
.home-bar {
  width: 100vw;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: none;
}
#logo {
  width: 200px;
  height: 150px;
  margin-top: 10px;
  margin-left: 30px;
  cursor: pointer;
}
.links-bar{
  width: 400px;
  height: 50px;
  margin-left: -1000px;
  display: flex;
  justify-content: space-evenly;
}

#logout{
  margin-right: 40px;
}

.btn-d {
  width: 100px;
  height: 50px;
  color: white;
  font-family: 'Barlow Semi Condensed', sans-serif;
  font-size: 30px;
  font-weight: bold;
  background: none;
  border: none;
  border-radius: 25px;
  transition: all 0.2s ease-in-out;
}
.btn-d:hover {
  background-color: #C52184;
  color: white;
  cursor: pointer;
}
