.home-bar {
  width: 100vw;
  height: 80px;
  background: linear-gradient(173deg, #000 0%, #fff 100%);
  color: #f2f2f2;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 30px 40px rgba(0, 0, 0, 0.1);
}

/* .home-bar p {
  filter: drop-shadow(10px 10px 1px #000);
} */

#logout{
  cursor: pointer;
}

