.header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .search {
    margin-top: 10px;
    width: 100%;
    background-color: white;
    border-radius: 5px;
    height: 30px;
    display: flex;
    align-items: center;
    
  }
  
  .search input {
    margin-left: 10px;
    width: 100%;
    border: none;
    outline: none;
    background: none;
  }
  
  .search img {
    width: 15px;
    height: 15px;
    margin-left: 15px;
  }
  
  .search_btn {
    display: flex;
    align-items: center;
    background-color: #0079FF;
    border-radius: 5px;
    margin-right: 5px;
    height: 25px;
  }
  
  .search_btn button {
    background: none;
    border: none;
    outline: none;
    color: #fefefe;
  
  }