@import url("https://fonts.googleapis.com/css2?family=Karla&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  background: linear-gradient(346deg, #000 0%, #fff 100%);
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: scroll;
}
